@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --text-primary: #ccc;
  --orange-primary: #f50;
  --blue-primary: #064475;
  --font-family: "Open Sans", sans-serif;
  --container-width: 1200px;
  --primary-item: #3b3e40;
  --background-item: #efefef;
  --gray: #d5d4d5;
  --background: #2c2c2c;
  --item-non-hover: #92969a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 0.8rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  background-color: #fff;
}

//scrollbar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// button,
// input,
// [tabindex] {
//   border: none;
//   outline: none !important;
// }

//custom tippy tooltip

body {
  .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 22px;
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-content {
    padding: 8px 9px;
  }
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.mt-24 {
  margin-top: 24px;
}
.mb-22 {
  margin-bottom: 22px;
}
.mg_24_0 {
  margin: 24px 0;
}
.pd_0_8 {
  padding: 0 8px;
}
.pd_0_16 {
  padding: 0 16px;
}
.pd_10_0 {
  padding: 10px 0;
}

.none-select {
  user-select: none;
}
.relative {
  position: relative;
}
.flex_1 {
  flex: 1;
}
.scroll-btn {
  bottom: 100px;
  right: 35px;
}
.std {
  table {
    justify-self: center;
    margin: 16px 0px !important;
  }
}
td {
  border: 1px solid gray !important;
}
