.wrapper {
  display: flex;
}
.content {
  width: var(--container-width);
  min-height: 600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  .content {
    width: 100% !important;
    background-color: #fff;
  }
}
