.wrapper {
  display: flex;
  padding-top: 60px;
}
.left {
  flex: 1;
}
.right {
  flex: 3;
}

@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  .wrapper {
    flex-direction: column;
  }
}
