.wrapper {
  display: flex;
  padding-top: 94px;
}
.left {
  flex: 0.5;
  padding: 0 14px;
}
.right {
  position: relative;
  flex: 1;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
}
.image-container {
  border: 1px solid #d4d4d4;
}
.count-box {
  width: 112px;
  font-size: 14px;
  margin-right: 28px;
}
.product-name {
  font-size: 18px;
  margin: 0 0 15px;
  font-weight: bold;
  color: #222;
  position: relative;
  text-transform: capitalize;
}

.price {
  margin: 0 0 10px;
  padding: 0 0 5px;
  span {
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    margin: 0;
    color: #064475;
  }
}
.description {
  font-size: 13px;
  margin-bottom: 15px;
}
.name-selection {
  float: none;
  margin-bottom: 5px;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.slection-box {
  margin-bottom: 24px;
}
.selected {
  display: flex;
  align-items: center;
  width: 200px;
  height: 42px;
  position: relative;
  background: #fff;
  padding: 0 10px;
  border: solid 1px #ebebeb;
  outline: none;
  font-size: 14px;

  option {
    font-size: 14px;
  }
}
.drop-down-menu {
  width: 200px;
}
.social-box {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
  span {
    float: left;
    color: #222;
    font-weight: 700;
    width: 68px;
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
  }
}
.social-icon {
  font-size: 32px;
  color: #c72e1c;
  cursor: pointer;
}
.dom-content {
  padding: 16px 0px;
}
.more-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 4px;
}
.more-menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.more-item {
  border-radius: 8px;
  padding: 8px 10px;
  background-color: hsla(0, 0%, 100%, 0.9);
  cursor: pointer;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
  span {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  .MuiBox-root {
    display: flex;
  }
  .wrapper {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .left {
    flex: 1;
  }
  .right {
    margin-top: 12px;
  }
}
