.order-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.order-form {
  flex: 2;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}
.order-detail {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="tel"],
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  height: 100px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 11.293 5.707 7.707 4.343 9.293 10 16l5.657-5.657z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.button-submit {
  width: 100%;
  padding: 10px;
  background-color: rgb(77, 134, 179);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.button-submit:hover {
  background-color: #45a049;
}

.order-details {
  margin-top: 20px;
}

.order-item {
  position: relative;
  margin: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

// .order-item img {
//   width: 100%;
//   height: 150px;
//   object-fit: cover;
// }

.order-item .order-info {
  padding: 10px;
  flex: 1;
}

.order-item h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.order-item p {
  margin: 0;
}
.order-detail {
  overflow: auto;
  height: 74vh;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }

  .order-item {
    display: flex;
    align-items: center;

    .info {
      h4 {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        color: #666;
        margin: 0;
      }
    }
  }
}

.cart-item {
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cart-item .text {
  flex: 1;
}

.cart-item .text h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-item .text p {
  margin: 0;
  font-size: 16px;
}

.cart-item .quantity {
  display: flex;
  align-items: center;
}

.cart-item .quantity button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0 5px;
}

.cart-item .quantity input[type="number"] {
  width: 50px;
}
.delete-btn {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    background-color: #ddd;
  }
}
.cal-box {
  border-top: 1px solid rgba(175, 175, 175, 0.34);
  padding: 14px 20px;
}
.image-container {
  width: 80px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
  }
}
.info-container {
  width: 70%;
  padding: 0 8px;
}
.name-product {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-form {
  background-color: #fff;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
}

@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 740px) {
  .order-container {
    flex-direction: column;
  }
}
