.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
